<body>
  <img src='https://cdn.shopify.com/s/files/1/0055/6377/7098/files/STARWARS-HEADER-MOB.jpg?18406'/>
<h1 style="color: red">Welcome to the Star Wars API</h1>
<h2 style="color: blue">Please choose an ID between 1 and 5 and a category to search for using the selector</h2>
<input type = 'number' min=1 max=5 placeholder = 'id' [(ngModel)]='frmId'/>

<select [(ngModel)] = 'whichCategory'>
    <option *ngFor='let item of choices'>{{item.cat}}</option>
</select>

<button (click)='handleClick()'>Go</button>

<h1>Here Are The Results:</h1>
<!--Use of ngIf instead of hidden to highlight the properties searched-->
  <div *ngIf='whichCategory == "people"'>Name: {{model.name}} Gender: {{model.gender}}</div>
  <div *ngIf='whichCategory == "planets"'>Name: {{model.name}} Population: {{model.population}} Rotation Period: {{model.rotation_period}}</div>
  <div *ngIf='whichCategory == "species"'>Name: {{model.name}} Height: {{model.average_height}} Eye colour: {{model.eye_colors}} </div>
  <div *ngIf='whichCategory == "vehicles"'>Name: {{model.name}} Model: {{model.model}}</div>
<h1>Full Details Here</h1>
  <pre>{{model |json}}</pre>


</body>